// === THEMES ===
// Allowed Values: Default
$theme: Default;

// === FONTS ===
$headline-font: 'Lustria', serif;
$text-font: 'Muli', sans-serif;

// Default Colors
$first-color: red;
$second-color: white;